/* README: Added styles to be reused across projects. All of which are part of a design system that I have been building to enhance my knowledge of UI Design.*/

/* Contains style variables to be reused throughout the page */
:root {
  --neutral-000: #e9ebf8;
  --neutral-100: #f8f8f9;
  --neutral-200: #f0f1f2;
  --neutral-300: #cdd3d6;
  --neutral-400: #b9bec1;
  --neutral-500: #a4a9ab;
  --neutral-600: #9a9ea1;
  --neutral-700: #7b7f80;
  --neutral-800: #5c5f60;
  --neutral-900: #484a4b;

  --primary-100: #e0eff5;
  --primary-500: #2e94b9;
  --primary-900: #1c596f;

  --secondary-100: #ede0f4;
  --secondary-500: #872eb8;
  --secondary-900: #511c6e;

  --success-100: #e0f5e9;
  --success-500: #2eb96e;
  --success-900: #1c6f42;

  --warning-100: #fdf4ea;
  --warning-500: #f0b775;
  --warning-900: #906e46;

  --danger-100: #ffe6e6;
  --danger-500: #fd5959;
  --danger-900: #983535;

  /* Stylistic opacities.  Uses '26' at the end of the hex to set opacity to 15% */
  --opcaity-neutral: #484a4b26;
  --opacity-primary: #2e94b926;
  --opacity-secondary: #872eb826;
  --opacity-success: #2eb96e26;
  --opacity-warning: #f0b77526;
  --opacity-danger: #fd595926;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

h2 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.large-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.medium-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.small-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

i {
  font-size: 24px;
}

/* End design system style guide */
* {
  padding: 0px;
}
body {
  background-color: var(--neutral-000);
  padding: 0px;
  height: 100%;
  width: 100%;
}

/* Header and Nav links */
header {
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin: 0;
  background-color: var(--primary-500);
  padding: 12px 32px;
  display: flex;
}

header a {
  color: inherit;
  text-decoration: none;
}

header h1 {
  justify-content: flex-start;
  color: var(--neutral-000);
  width: auto;
}

nav {
  margin-left: auto;
}

#standard-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

/* Responsive elements hidden */
.responsive-md {
  display: none;
}

#overflow {
  position: absolute;
  right: 24px;
  background-color: var(--neutral-000);
  border-radius: 4px;
  box-shadow: 0px 4px 24px rgba(24, 30, 36, 0.16);
  display: none;
}

#overflow-hover {
  padding-top: 60px;
}

#overflow-icon {
  height: 100%;
  width: auto;
  display: none;
  color: var(--neutral-000);
  cursor: pointer;
}
.nav-link {
  height: 40px;
  color: var(--neutral-000);
  border-bottom: var(--neutral-000) solid 2px;
  justify-content: center;
  margin-left: 24px;
}

.nav-link h3 {
  line-height: 40px;
}

.nav-link a {
  color: inherit;
  text-decoration: none;
}

/* Hero section */
#hero img {
  height: 336px;
  width: 100%;
  object-fit: cover;
}

#summary {
  position: absolute;
  top: 104px;
  left: 136px;
  display: flex;
}

#summary img {
  height: 192px;
  width: 192px;
  border-radius: 50%;
  margin-right: 40px;
}

#summary-container {
  display: flex;
}

#summary-text {
  background-color: #00000080;
  color: var(--neutral-000);
  border-radius: 8px;
  padding: 16px 16px 1px 16px;
  height: fit-content;
  margin: auto;
}

#summary-text h2 {
  margin-bottom: 4px;
}

#summary-text div {
  margin-bottom: 16px;
}

.hero-tag {
  background-color: var(--primary-500);
  color: var(--neutral-000);
  width: fit-content;
  position: relative;
  bottom: 80px;
  right: 136px;
  margin-left: auto;
  padding: 4px 12px;
  border-radius: 4px;
}

/* Main */
main {
  margin: 0 32px;
}

main section {
  display: flex;
  margin-bottom: 24px;
}

main img {
  border: var(--primary-500) solid 4px;
}

.left-title {
  /* styles the left section */
  color: var(--primary-500);
  min-width: 296px;
  margin-right: 40px;
  justify-content: flex-end;
  padding: 16px;
  border-right: var(--primary-500) solid 4px;
  text-align: right;
}

#about-me p {
  width: auto;
}

#work-imgs {
  width: 100%;
}
#most-recent-app-container {
  padding: 0 8px;
}

#most-recent-app {
  width: 100%;
}

/* 2nd photo and on */
#work-img-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.small-img {
  width: 50%;
  padding: 8px;
}

.small-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer section */
footer section {
  display: flex;
  margin: 0 32px 24px 32px;
}

#contact-me {
  justify-content: space-between;
}

.contact-link {
  color: var(--primary-500);
  border-bottom: var(--primary-500) solid 2px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.contact-link a {
  color: inherit;
  text-decoration: none;
}

/* badge used on top of each photo */
.img-label {
  position: relative;
  bottom: 80px;
  background-color: var(--primary-500);
  width: fit-content;
  padding: 8px;
  color: var(--neutral-000);
  margin-bottom: -60px;
}

@media screen and (max-width: 1024px) {
  .left-title {
    /* styles the left section */
    color: var(--primary-500);
    min-width: 224px;
    margin-right: 40px;
    justify-content: flex-end;
    padding: 16px;
    border-right: var(--primary-500) solid 4px;
    text-align: right;
  }

  #summary {
    left: 64px;
  }

  #summary-container {
    display: block;
  }

  .responsive-md {
    display: block;
  }
  .responsive-lg {
    display: none;
  }

  .hero-tag {
    position: unset;
    height: fit-content;
    padding: 4px 8px;
    margin: 0;
    margin-top: 8px;
  }
}

@media screen and (max-width: 768px) {
  #about-me {
    display: block;
  }

  .left-title {
    border-right: none;
    border-bottom: var(--primary-500) solid 4px;
    width: fit-content;
    min-width: 0px;
    text-align: left;
    padding-left: 0px;
    margin-bottom: 16px;
    margin-right: none;
    padding: 8px 0;
  }

  .left-title h1 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  #my-work {
    display: block;
  }

  #contact-me {
    display: block;
  }

  .contact-link {
    border: none;
  }

  .contact-link h3 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  #summary-text h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  header {
    display: flex;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  #overflow-icon {
    display: contents;
  }

  #overflow-icon:hover + #overflow {
    display: block;
  }

  #overflow:hover {
    display: block;
  }

  #standard-nav {
    display: none;
  }

  .nav-link {
    height: fit-content;
    color: var(--neutral-900);
    margin: 12px 16px;
  }

  .nav-link h3 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  #hero img {
    height: 296px;
  }

  #summary {
    top: 96px;
  }

  #summary img {
    height: 112px;
    width: auto;
  }
}

@media screen and (max-width: 640px) {
  #most-recent-app-container {
    padding: 0;
  }

  #work-img-grid {
    width: 100%;
    display: block;

    margin-top: 8px;
  }

  .small-img {
    width: 100%;
    padding: 8px 0;
  }

  #hero {
    width: 100%;
  }

  main {
    margin: 0 16px;
  }

  #hero img {
    height: 396px;
  }

  #summary {
    position: static;
    text-align: center;
    display: block;
    transform: translateY(-304px);
    margin: 0 16px -272px 16px;
  }

  #summary img {
    height: 112px;
    margin: 0;
  }

  .hero-tag {
    width: 100%;
  }

  .left-title {
    margin: 0 auto 16px auto;
  }

  .contact-link {
    margin-left: auto;
    justify-content: center;
    text-align: center;
  }
}
